*.iml
*.ipr
*.iwp
*.iws
*.la
*.lo
*.log
*.o
*.so
*.swp
*.un~
.idea
.libs
out/
project/boot/*
project/plugins/project
project/plugins/target
hs_err_*.log
lib_managed
src_managed
target
db
logging.properties
.DS_Store