<div id="banner">
  <div id="banner-content">
    <ol class="images">
      <li class="left">
        <img src="/images/banner/main1.jpg" alt=""/>
      </li>
      <li class="center">
        <img class="message" src="/images/banner/main-gfx.png" alt="JavaZone 2011"/>
        <img src="/images/banner/main2.jpg" alt=""/>
      </li>
      <li class="right">
        <img src="/images/banner/main3.jpg" alt=""/>
      </li>
    </ol>
  </div>
  <div id="prev" class="btn-nav"><img src="/images/banner/nav-left.png" alt=""/></div>
  <div id="next" class="btn-nav"><img src="/images/banner/nav-right.png" alt=""/></div>
</div>
