<div id="banner">
	<ul>
		<li style="background: url(http://jz11.java.no/images/kevlinhenney1138.jpg) no-repeat; opacity: 1; width:1138px; overflow-x: none; left: auto" class="">
			<a href="/"><div class="slide" style="height: 459px; background: url(http://jz11.java.no/images/main-gfx.png) no-repeat left; cursor: pointer; opacity: 1;"></div></a>
		</li>
		<li style="background: url(http://jz11.java.no/images/tomgilb1065.jpg) no-repeat center; opacity: 1; width:1065px" class="">
			<a href="/"><div class="slide" style="height: 459px; background: url(http://jz11.java.no/images/main-gfx.png) no-repeat right; cursor: pointer; opacity: 1;"></div></a>
		</li>
		<li style="background: url(http://jz11.java.no/images/overflow1209.jpg) no-repeat center; opacity: 1; width:1209px; overflow-x: none;" class="">
			<a href="/"><div class="slide" style="height: 459px; background: url(http://jz11.java.no/images/main-gfx.png) no-repeat right; cursor: pointer; opacity: 1;"></div></a>
		</li>
	</ul>
</div>
